Data-Engineering/Azure-Project/ondrej/de-course-adf/pipeline/Ingestion_to_Landing_zone.json
{
	"name": "Ingestion_to_Landing_zone",
	"properties": {
		"activities": [
			{
				"name": "Copy GitHubArchiveDay Optional",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy_GitHubArchiveDay_Optional",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_load_date": {
							"value": "@variables('v_load_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy CompanyDetail Optional",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy_CompanyDetail_Optional",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_load_date": {
							"value": "@variables('v_load_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set Load Date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_load_date",
					"value": {
						"value": "@if(empty(pipeline().parameters.p_load_date),concat(substring(getPastTime(1,'Day'),0,4),substring(getPastTime(1,'Day'),5,2),substring(getPastTime(1,'Day'),8,2)),pipeline().parameters.p_load_date)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy StackoverflowPostQuestions",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy_StackoverflowPostQuestions",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Copy StackoverflowPostAnswers",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy_StackoverflowPostAnswers",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"p_load_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_load_date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}